<html>
 <head>
  <!--<link rel="stylesheet" type="text/css" href="client.css">
  <script type="text/javascript" src="client.js"></script> -->
 </head>
 <center>
  <div class="box" id="login_screen">
   <div class="msg" id="home_msg"></div>
   <br>
   <form action="javascript:void(0);">
    Username: <input type="text" id="user"> <br>
    Password: <input type="password" id="password"> <br>
    <input type="submit" id="login" value="login">
    <input type="submit" id="add" value="register">
   <form>
  </div>
  <div class="box" id="welcome_screen">
   <div class="msg" id="welcome_msg"></div>
   <br>
   <form action="javascript:void(0);">
    <input type="submit" id="logout" value="logout">
   </form>
  </div>
 </center>
 <script type="text/javascript">
  $(document).ready(function(){
   $('#home_msg').html("Please enter your credentials below.");   
   show_login_screen();
  });

  $("#login").click(function() {
   //Define what to do on a successful login
   user = $("#user").val()
   password =  $("#password").val()

   on_success = function(response) {return handle_response(user, "login", response);};
   //send the post request 
   send_credentials(user, password, "/users/login", on_success);
   clear_form();
  });

  $("#add").click(function() {
   user = $("#user").val()
   password =  $("#password").val()
   on_success = function(response) {return handle_response(user, "add", response);};
   send_credentials(user, password, "/users/add", on_success);
   clear_form();
  });

  $("#logout").click(function() {
   show_login_screen();
  });
 </script>
</html> 
