// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.box {
    width: 300px;
    height: 200px;
    border: thin black solid;
    background-color: rgb(243,243,243);
}

.message {
    margin: 10px 20px 10px 20px;
    border: thin black solid;
}

body {
	font-family: 'Helvetica Neue Light', HelveticaNeue-Light, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
 